@import "tailwindcss";
body {
  @apply bg-sky-50 dark:bg-slate-900 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}
@custom-variant dark (&:where(.dark, .dark *));

.btn-primary {
  @apply inline-block bg-emerald-600 text-white font-bold py-3 px-6 rounded-lg shadow-lg;
  @apply transition-transform transform hover:scale-105 hover:bg-emerald-700;
}
.project-card {
  @apply bg-white dark:bg-gray-800 h-[350px];
  @apply flex flex-col rounded-lg overflow-hidden shadow-lg px-4;
}
.project-card .card-links{
  @apply justify-between items-center flex gap-4 mt-auto;
}