@import "tailwindcss";
body {
  @apply bg-sky-50 dark:bg-slate-900 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}
@custom-variant dark (&:where(.dark, .dark *));

.btn-primary {
  @apply inline-block bg-emerald-600 text-white font-bold py-3 px-6 rounded-lg shadow-lg
  transition-transform transform hover:scale-105 hover:bg-emerald-700;
}
.project-card {
  @apply bg-white dark:bg-gray-800 h-[350px] flex flex-col rounded-lg overflow-hidden shadow-lg px-4;
}
.project-card .card-links{
  @apply justify-between items-center flex gap-4 mt-auto;
}
.header-links{
  @apply text-sm md:text-base hover:text-emerald-600 dark:hover:text-emerald-400 font-medium;
}
.card-wrap{
  @apply w-full md:w-1/2 lg:w-1/3 flex-shrink-0 px-4 
}
.card-content{
  @apply p-4 flex flex-col flex-1;
}
.card-content p{
  @apply text-gray-700 text-sm md:text-xl dark:text-gray-300 mb-4;
}
.project-name{
  @apply text-2xl font-bold mb-2;
}
.card-links a{
  @apply text-emerald-600 dark:text-emerald-400 hover:underline font-medium;
}
.SocialNetworks a img{
  @apply max-w-[50px] rounded-full border-4 border-slate-300 hover:border-blue-700 
  hover:duration-400 hover:transition shadow-md;
}
form div{
  @apply mb-4;
}
form div input, textarea{
  @apply w-full px-4 py-2 border border-gray-300 dark:border-gray-600 rounded-lg 
  bg-gray-50 dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500
}
form div label{
  @apply block text-lg font-medium mb-2;
}
.footer-links a{
  @apply hover:text-blue-600 dark:hover:text-blue-400;
}